.b_color{
	background-color: rgba(215, 139, 75, 0.9);
}
.text{
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:5000;

}
.diminish{
	height:30px;
	width:50px;
	-webkit-animation: eAnimation 6s linear 1;
	animation:eAnimation 6s linear 1;
	visibility: visible !important;
}

.opac{
	-webkit-animation:appear 6s linear 1;
	animation: appear 6s linear 1;
}

@keyframes appear{
	0%{
		background: rgba(248, 248, 248, 0);
		border-color: rgba(248, 248, 248, 0);
	}
	66%{
		background: rgba(248, 248, 248, 0);
		border-color: rgba(248, 248, 248, 0);
	}
	100%{
		background: rgba(248, 248, 248, 1);
		border-color: rgba(248, 248, 248, 1);
	}
}

@-webkit-keyframes appear{
	0%{
		background: rgba(248, 248, 248, 0);
		border-color: rgba(248, 248, 248, 0);
	}
	66%{
		background: rgba(248, 248, 248, 0);
		border-color: rgba(248, 248, 248, 0);
	}
	100%{
		background: rgba(248, 248, 248, 1);
		border-color: rgba(248, 248, 248, 1);
	}
}


@keyframes eAnimation{
	0%{	
		margin:30px;	
		-ms-transform: translate(600px,300px) rotate(0deg) scale(3,3); 
	    -webkit-transform: translate(600px,300px) rotate(0deg) scale(3,3); 
	    transform: translate(600px,300px) rotate(0deg) scale(7,7); 

	}
	66%{	
		margin:30px;	
		-ms-transform: translate(600px,300px) rotate(0deg) scale(3,3); 
	    -webkit-transform: translate(600px,300px) rotate(0deg) scale(3,3); 
	    transform: translate(600px,300px) rotate(0deg) scale(7,7); 

	}
	100%{
		margin:0px;
		-ms-transform: translate(600px,300px) rotate(360deg) scale(1,1); 
	    -webkit-transform: translate(600px,300px) rotate(360deg) scale(1,1); 
	    transform: translate(0px,0px) rotate(360deg) scale(1,1);
	}
}

@-webkit-keyframes eAnimation{
	0%{		
		margin:30px;
		-ms-transform: translate(600px,300px) rotate(0deg) scale(3,3); 
	    -webkit-transform: translate(600px,300px) rotate(0deg) scale(3,3); 
	    transform: translate(600px,300px) rotate(0deg) scale(3,3); 
	}

	66%{	
		margin:30px;	
		-ms-transform: translate(600px,300px) rotate(0deg) scale(3,3); 
	    -webkit-transform: translate(600px,300px) rotate(0deg) scale(3,3); 
	    transform: translate(600px,300px) rotate(0deg) scale(3,3); 

	}
	100%{
		margin: 0px;
		-ms-transform: translate(600px,300px) rotate(360deg) scale(1,1); 
	    -webkit-transform: translate(600px,300px) rotate(360deg) scale(1,1); 
	    transform: translate(0px,0px) rotate(360deg) scale(1,1); 
	}
}

.C{
	left:25%!important;
	bottom: 0px!important;
	animation-duration:10s!important;
	-webkit-animation-duration:20s;
	-moz-animation-duration:20s;
}
.E1{
	left:40%!important;
	bottom: 0px!important;
	animation-duration:10s!important;
	-webkit-animation-duration:20s;
	-moz-animation-duration:20s;
}
.L{
	left:55%!important;
	bottom: 0px!important;
	animation-duration:10s!important;
	-webkit-animation-duration:20s;
	-moz-animation-duration:20s;
}
.L1{
	left:75%!important;
	bottom: 0px !important;
	animation-duration:10s!important;
	-webkit-animation-duration:20s;
	-moz-animation-duration:20s;
}